#site_header {
    background-color: white;
}

body {
    width: 100%;
    margin: auto;
    min-height: 100%;
    background-color: #F2F1E8;
    background-repeat: no-repeat;
    color:#131511;
}

img {
    position: fixed;
    width: 3.5%;
    left: 20px;
    top: 8px;
    z-index:2;
}

#site_header {
    z-index: 1;
    position: fixed;
    display: flex;
    top: -15px;
    padding: 10px 0px;
}

.NavBar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 0 28rem;
    font-family: "Roboto";
    font-size: large;
}

#nav {
    padding: 0px 20px;
    margin: 0 10px;
}

li a:hover {
    color: #CD5D67;
}

li a:active {
    color: #968772;
}

li a {
    color: #2B2F26;
}


/*End Nav Bar*/

.page-header {
    margin: 7rem 0;
    text-align: center;
    font-size: xx-large;
    font-family: "Roboto", serif;
    margin-bottom: 10px;
}

#page {
    line-height: 37px;
    font-family: "Roboto", serif;
    font-size: 20px;
    margin: 65px 0px;
}

#top {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 500px;
    position: relative;
    margin: 0 auto;
}
.first-paragraph a{
    color:#968772;
}
.first-paragraph a:hover{
    color:#967343
}


#birdhouse {
    content: url(../images/birdhouse.jpg);
    border-style: inset;
    width: 17%;
    height: 58%;
    position: relative;
    top: 19px;
    float: left;
    margin: 0px 19px 1px 0px;
}

.founder {
    font-style: italic;
    border-left: 1px solid;
    border-right: 1px solid;
}

#middle {
    background-image: url("../images/background-3.jpg");
    background-size: 100%;
    padding: 5rem 0;
    color: white;
    position: relative;
    top: 160px;
    text-align:center;
    font-size :xx-large;
}
#pottery{
    content: url("/Users/robertabell/Desktop/tiy/Weekly Projects/week-one-project/images/background-1.jpg");
    border-style: inset;
    position: relative;
    float: right;
    top: 24rem;
    right: 15rem;
    margin:9px 40px 1px 0px;
    width: 100px;
    height: 100px;
    
}
.description{
    position: relative;
    display: inline-block;
    Height: 10%;
    width: 8%;
    
    left: 56rem;
    top: 31rem;
    font-size: x-small;
    line-height: 1.6;
}
    

#bottom {
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 57rem;
    position: relative;
    margin: 0px 19rem;
    top: 160px;
    right: 8%;
}
#facilities{
    padding: 20px;
    
}


.table {
    display: flex;
}

.table p {
    border: 1px solid;
}

.rowOne {
    flex-grow: 2;
}

.rowOne p {
    text-align: center;
    padding: 20px 20px;
    margin: 0px;
}

.rowTwo p {
    text-align: center;
    padding: 20px 20px;
    margin: 0px;
}

.rowThree p {
    text-align: center;
    padding: 20px 20px;
    margin: 0px;
}

.rowTwo {
    flex-grow: 1;
}

.rowThree {
    flex-grow: 3;
}

footer {
   background-color: #2B2F26;
    width: 100%;
    height: 80px;
    color: white;
    padding:25px;
    font-size:x-large;
}
